!!!
%html
  %head
    %title= @page_title ? "#{@page_title} | WebConsole" : "WebConsole"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body  
    = render 'shared/web_console', :initial => "Loading development environment (Rails 3.2.8)", :id => 'rails'
    = render 'shared/web_console', :initial => "Press tab to list all commands", :id => 'music'
    #wrapper
      = render 'shared/header'
      
      - if flash.keys.present?
        .flash-messages
          - flash.each do |key, msg|
            %div{:class => key}
              = msg

      %section.page
        = yield
      %footer
        by #{link_to "@Paxa", "http://github.com/Paxa"} ©
  = javascript_include_tag "application"
  = yield :scripts